@font-face{
font-family:Robotu;
src:url('../fonts/Roboto-Regular.ttf')
}

body{
margin:0;
font-style:100%;
padding:0;
font-family:Robotu;
/*Arial,Helvetica,"Microsoft Yahei",Monaco,Menlo,Consolas,"Courier New",monospace;*/
}
h1, h2, h3, h4, h5 ,h6 .h1 .h2 .h3 .h4 .h5 .h6{
line-height: 1.2;
color: inherit;
font-weight:normal;
}
fullscreen,body,html {
height:100%;
}
a {
text-decoration: none;
color: #0D0D0D;
}
article {
background:white;
margin: 1.5pc auto;
position: relative;
width: 95%;
box-shadow: 3px 4px 5px #ddd;
}
.blog_title .cover {
height:150px;
width:150px;
border:5px;
border-style:solid;
border-color:#859900;
border-radius:50%;
}
fullscreen {
min-height: 100%;
position: relative;
}
.fullscreen li{
list-style-type:none;
}
.fullscreen .header {
position: fixed;
width: 300px;
height: 100%;
background:black;
}
.fullscreen .header .header_less{
margin:2pc auto;
text-align:center;
width:80%;
height:100%;
color:#859900;
}
.fullscreen .header_less .blog_title .blog_user {
font-size: 38px;
margin: 1pc auto;
}
.fullscreen .header_less a ,.blog_title a,.blog_user a{
color:rgb(217,217,214);
}
.fullscreen .header_less .blog_title .blog_summary{
font-size: 13px;
line-height:25px;
color:#999;
}
.fullscreen .blog_list{
text-align:center;
}
.fullscreen .switch_list{
margin: 10% auto;
width: 10em;
padding: 7px;
}
.fullscreen .switch_list li{
margin: 5% auto;
}
.fullscreen .header .header_less .follow{
margin:10% auto;
}
.fullscreen .center {
position: absolute;
right: 0;
min-height: 100%;
left: 300px;
width: auto;
background:#f4f6f8;
}
article .blog{
padding: 20px 20px 15px 77px;
}
article header .icon::before {
left: 0;
position: absolute;
text-align: center;
top: 0;
width: 30px;
}
article header .icon {
height: 32px;
left: 20px;
position: absolute;
top: 20px;
width: 30px;
}
.fullscreen .center article .comment{
margin-left:5%;
margin-right:5%;
}
article header .title a{
text-shadow: 2px 2px 3px rgba(50, 50, 50, 0.3);
font-size: 110%
}
article .blog header .title{
text-shadow: 2px 2px 3px rgba(50, 50, 50, 0.3);
font-size: 120%;
}
article .summary {
margin-top:15px;
line-height: 1.6;
text-align: justify;
width: 95%;
}
article .blog .summary{
width: 95%;
}
article .summary p, hr{
line-height: 2.0;
word-wrap: break-word;
}
article footer ,article header .info{
font-size: 0.9em;
line-height: 16px;
padding-top: 10px;
position: relative;
}
article footer {
border-top: 1px solid #ddd;
margin-top: 15px;
}
article header .info{
margin-bottom: 15px;
}
article header .info .category ,article header .info .tag,article header .info .author,article header .info .created {
padding-left: 10px;
}
article header .info .category a,article header .info .tag a,article header .info .author a,article header .info .created a{
color:#999;
}
article footer .category,article footer .tag,article footer .author,article footer .created{
padding-left: 10px;
}
article footer .category a,article footer .tag a,article footer .author a,article footer .created a{
color:#999;
}
.fullscreen .header .header_less footer {
text-align: center;
margin: 30px auto;
font-size: 9pt;
font-family: Menlo,Monaco,Andale Mono,lucida console,Courier New,monospace;
color: #999;
position: relative;
}
.fullscreen .center .page {
text-align: center;
padding-bottom: 1.5pc;
}
.fullscreen .footer a{
color: #999;
}
article header .info .category i, article header .info .tag i, article header .info .author i, article header .info .created i{
padding-right:5px;
}
.error{
padding:2pc auto;
text-align: center;
}
.errorcode, .errorinfo{
padding:2pc;
font-size:300%;
text-shadow: 2px 2px 3px rgba(50, 50, 50, 0.3);
}
.page .number{
font-size:100%;
text-align:center;
padding: 0px 4px;
}
